/* Universal selectors */

* {
    box-sizing: border-box;
    font-family: 'Lobster', cursive;


}

/* Element Selector */

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-image: url("/assets/images/spaceheader1.jpg");
    background-size: 100%;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lobster', cursive; /*Fix this */
    padding: 1em;
    color: white;
    font-size: 3em;
}

 main {
    color: white;
    border: .25em solid blue;
    height: auto;
 } 

 div {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    color: white;
    border: 5px solid lightblue;
    box-shadow: 5px 10px green;
    border-radius: 10px;
    /* background-color: #692a66; */
 }

footer{
    border: .25em solid red;
    align-items: center;
    height: 5em;
    color: white;
}
/* Class selector */
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: .25em solid white;
}

.container2 {
    border: .25em solid green;
}

.nav_img {
    /* position: relative; */
    width: 50px;
    padding: 0;
    margin: 0 15px;
}

/* ID Sectors */

#box-sec1 {
    width: 40rem;
    height: 30rem;
}