/* Universal selectors */

* {
    box-sizing: border-box;
    /* font-family: 'Dosis', sans-serif; */

}

/* Element Selector */

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
    background-color: lightblue;
    padding: 1em;
    color: white;
    background-image: url("/assets/images/Spaceheader.jpg");
    font-family: 'Lobster', cursive;
}

  

/* Class selector */
/* .header_img {
    background-image:"/assets/images/Spaceheader.jpg" ;
} */

.nav_img {
    /* position: relative; */
    width: 50px;
    padding: 0;
    margin: 0 15px;
}